<head>
<!-- twitter cards -->
<meta name="twitter:site" content="@{{ site.twitter-username }}">
<meta name="twitter:creator" content="@{{ page.author }}">
<meta name="twitter:title" content="{{ page.title }}">

{% if page.summary %}
  <meta name="twitter:description" content="{{ page.summary }}">
{% else %}
  <meta name="twitter:description" content="{{ site.description }}">
{% endif %}

{% if page.image %}
  <meta name="twitter:card" content="summary_large_image">
{% else %}
  <meta name="twitter:image" content="{{ site.title_map }}">
{% endif %}
<!-- end of twitter cards -->  
</head>
